.center-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .user-profile-column{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    button {
        width: 100px;
        height: 40px;
       /*  background-color: hsl(148,70%,31%); */
        
    }
}