<div class="center-dialog-content">
    <h1 mat-dialog-title>Password reset</h1>
     <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" #form1="ngForm">
        <div class="user-profile-column" mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Current password</mat-label>
                <input matInput   formControlName="currentPassword">
                <mat-error *ngIf="form1.submitted && passwordForm.get('password')?.hasError('customError')">
                    {{ passwordForm.get('password')?.getError('customError') }}
                </mat-error>  
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput  formControlName="newPassword">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm new password</mat-label>
                <input matInput   formControlName="confirmNewPassword">
                <mat-error *ngIf="passwordForm.get('confirmNewPassword')?.hasError('passwordMismatch')">
                    Passwords do not match
                  </mat-error>
            </mat-form-field>
            <div mat-dialog-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Save</button>
                <button mat-raised-button color="warn" mat-dialog-close>Close</button>
            </div>
        </div>
        
    </form>
</div>
