<div class="forget-password-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-header>
            <mat-card-title>Forget Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Please enter your email address a link will be sent for password reset</p>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="email">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!email">Submit</button>
        </mat-card-actions>

    </mat-card>

</div>
