.forget-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
  }
  
  mat-card {
    /* width: 30%; */
    max-height: 80%;
    margin: 10% auto;
    border-radius: 8px;
    padding: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  mat-card-title{
    color: #303F9F;
    /* margin-top:20px; */
  }

  mat-form-field {
    width: 100%;
    /* max-width: 100px; */
     /* display: block;  */
     margin: auto; 
    /*  flex-grow: 1; */ /* Allow the form fields to grow and shrink dynamically */
    
  }
  mat-card-content {
    margin-top: 20px;
  }
  
  

  mat-card-content {
   width: 100%; /* Allow content to take full width */
   display: flex; /* Ensure children flexibly size themselves */
   flex-direction: column; /* Stack children vertically */
   align-items: center; /* Center children horizontally */
 }
