<!-- <div class="home">
    <p>home works!</p>
    <button (click)="testing()">Test Request</button>
    <button (click)="refresh()">Test Refresh Endpoint</button>
    <button (click)="decodeToken()">Decode JWT</button>
</div> -->
<mat-toolbar color="primary">
    <div class="toolbar-buttons">
      <button mat-flat-button routerLink="/"  [color]="!isLinkActive('/') ? 'primary' : ''">Home</button>
      <button mat-flat-button routerLink="/admin" [color]="!isLinkActive('/admin') ? 'primary' : ''" >Admin</button>
      <button mat-flat-button routerLink="/create-document" [color]="!isLinkActive('/create-document') ? 'primary' : ''">Create Document</button>
      <button mat-flat-button routerLink="/reviewer-page" [color]="!isLinkActive('/reviewer-page') ? 'primary' : ''">Assigned Documents</button>
      <button mat-flat-button routerLink="/creator-page" [color]="!isLinkActive('/creator-page') ? 'primary' : ''">Uploaded Documents</button>
    </div>
    <div class="user-circle">
        <button mat-mini-fab [matMenuTriggerFor]="menu" >
            {{userInitials}}
        </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item (click)="logout()" >Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>
<div class="home" *ngIf="isLinkActive('/')">
    <p>home works!</p>
    <button (click)="testing()">Test Request</button>
    <button (click)="refresh()">Test Refresh Endpoint</button>
    <button (click)="decodeToken()">Decode JWT</button>
    <button (click)="testTokenExpiration()">test Expired JWT</button>
</div>