

.search-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  .status-filter{
    margin:0 50px;
  }
}

/* .search-filters mat-form-field {
  width: calc(30% - 10px);
} */

mat-card {
  /* width: 30%; */
  /* max-height: 80%; */
 /*  margin: 10% auto; */
  border-radius: 8px;
  padding: 20px;   
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  /* background-color: blueviolet; */
  
}

table{
  /* background-color: blueviolet; */
  width:calc(100vw - 100px);
  

}

.mat-mdc-row:hover .mat-mdc-cell {
  /* border-color: currentColor; */
  background-color: lightblue;
}


.mat-column-email {
  
}

