table {
 /*  width: 500px; */
  /* display: flex;
  width: 100%; 
  flex-direction: column; 
  align-items: center;  */
  /* background-color: blueviolet; */
}



.admin-page{
  display: flex;
  justify-content: center;               /* Horizontally center the flex items */
  align-items: center;                /* Vertically center the flex items */
  height: 100vh;
  background-color: wheat;
  
}


th{
 /*  width: 100px; */
 
}
td{
 /*  display: flex;
  flex-direction: row;  */
  /* background-color: aqua; */
  /* background-color: blueviolet; */
 /*  align-items: center;
  justify-content: center; */
 /*  width: 20%; */
}

/* .inside-div{
  max-width: 70%;
  width: 100%;
  
  
  
} */


.search-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

/* .search-filters mat-form-field {
  width: calc(30% - 10px);
} */

mat-card {
  /* width: 30%; */
  /* max-height: 80%; */
 /*  margin: 10% auto; */
  border-radius: 8px;
  padding: 20px;   
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: blueviolet; */
  
}



