<div class="reset-password-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Please enter a new password for your account below</p>
            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput placeholder="Enter a new password" formControlName="newPassword">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput placeholder="Renter new-password" formControlName="confirmNewPassword">
                </mat-form-field>
                <div class="login-links">
                    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Submit</button>
                    <a routerLink="/login">login again</a>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>

