<div class="file-upload-page">
  <mat-card class="mat-elevation-z12">
      <mat-card-header>
          <mat-card-title>Add Reviewers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form>
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Reviewers</mat-label>
                <mat-chip-grid #chipGrid aria-label="Reviewer selection">
                  <mat-chip-row *ngFor="let reviewer of reviewers" (removed)="remove(reviewer)">
                    {{reviewer}}
                    <button matChipRemove [attr.aria-label]="'remove ' + reviewer">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New Reviewer..." #reviewerInput [formControl]="reviewerCtrl"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let reviewer of filteredReviewers | async" [value]="reviewer">
                    {{reviewer}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
 
      </mat-card-content>
  </mat-card>
</div>
