.toolbar-buttons {
    flex-grow: 1; /* Push user circle to the right */
   /*  background-color: aquamarine; */
    display: flex;
    gap: 10px;
  }
  
  .user-circle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-circle button {
    margin-left: 10px; /* Adjust margin as needed */
    font-size: large;
    
  }

  .home-but{
    background-color: white;
  }