<div class="user-profile centered">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Profile Settings</mat-card-title>
        </mat-card-header>
        <mat-tab-group [dynamicHeight]='true' (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Account Information" >
                <mat-card-content>
                    <form [formGroup]="userInfoForm" (ngSubmit)="updateProfile()" #form2="ngForm">
                        <div class="user-profile-row">
                            <mat-form-field appearance="outline">
                                <mat-label>First name</mat-label>
                                <input matInput type="text" formControlName="firstname">
                                <mat-error *ngIf="userInfoForm.get('firstname')?.hasError('required')">
                                    Firstname is required
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastname">
                                <mat-error *ngIf="userInfoForm.get('lastname')?.hasError('required')">
                                    Lastname is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="user-profile-row">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="username">
                                <mat-error *ngIf="userInfoForm.get('username')?.hasError('required')">
                                    Username is required
                                </mat-error>
                                <mat-error *ngIf="form2.submitted && userInfoForm.get('username')?.hasError('customError')">
                                    {{ userInfoForm.get('username')?.getError('customError') }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="readonly-field">
                                <mat-label class="readonly-field">Email address</mat-label>
                                <input matInput readonly="true" class="readonly-field" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="user-profile-row">
                            <mat-form-field appearance="outline" class="readonly-field">
                                <mat-label class="readonly-field">Roles</mat-label>
                                <input matInput class="readonly-field" readonly="true" formControlName="roles">
                            </mat-form-field>
                        </div>
                        <div class="user-profile-column">
                            <button mat-raised-button color="primary" type="submit">Update Account</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Security Settings">
                <mat-card-content>
                    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" #form1="ngForm">
                        <div class="user-profile-row">
                            <mat-form-field appearance="outline">
                                <mat-label>current password</mat-label>
                                <input matInput   formControlName="currentPassword" [type]="currentHide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="currentHide = !currentHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="currentHide">
                                    <mat-icon>{{currentHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="form1.submitted && passwordForm.get('currentPassword')?.hasError('customError')">
                                    {{ passwordForm.get('currentPassword')?.getError('customError') }}
                                </mat-error>  
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Enter a new password</mat-label>
                                <input matInput  formControlName="newPassword" [type]="newHide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newHide">
                                    <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="user-profile-row">
                            <mat-form-field appearance="outline">
                                <mat-label>Renter new password</mat-label>
                                <input matInput   formControlName="confirmNewPassword" [type]="confirmHide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmHide">
                                    <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="passwordForm.get('confirmNewPassword')?.hasError('passwordMismatch')">
                                    Passwords do not match
                                  </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="user-profile-column">
                            <button mat-raised-button color="primary" type="submit"  (click)="changePassword()" >Update Password</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>
