.content {
  padding-top: 10px;
  width: 60%;
 /*  background-color: blueviolet; */

  
}
.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 40%;
    
  }

  
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}

